// primary 
$primary-color: hsl(220, 98%, 61%);
$check-bg: linear-gradient(hsl(192, 100%, 67%),hsl(280, 87%, 65%));

//light theme
$light-vlg: hsl(0, 0%, 98%);
$light-vlb: hsl(236, 33%, 92%);
$light-lb: hsl(233, 11%, 84%);
$light-db: hsl(236, 9%, 61%);
$light-vdb: hsl(235, 19%, 35%);

//dark theme
$dark-vdb: hsl(235, 21%, 11%);
$dark-vddb: hsl(235, 24%, 19%);
$dark-lgb: hsl(234, 39%, 85%);
$dark-lbg__hover: hsl(236, 33%, 92%);
$dark-dgb: hsl(234, 11%, 52%);
$dark-vdgb: hsl(233, 14%, 35%);